@import "~bootstrap/scss/bootstrap.scss";
//imported boostrap
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap");
//imported Roboto Slab as main font
@import "./var.scss";
//imported variables scss file
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */

body {
  font-family: "Roboto Slab", serif;
}
p {
  color: $textColor;
  line-height: 30px;
  padding: 10px 0;
}
//CONTAINERS & SECTIONS MANAGER
.spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cleaner {
  background-color: $whiteBg;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linesection {
  border: 1px solid #ef9a3d;
  width: 200px;
}
.sticky {
  position: sticky;
}
//LOGO MANAGER
.logo-container {
  width: 100px;
  padding-top: 70px;
  padding-bottom: 25px;
}
.logo {
  width: 100%;
  height: 100%;
}
